/*============================
GENERAL LAYOUT AND STYLES=====
==============================*/
/*  1- BUILDER */
.form__title {
  border-bottom: 2px solid black;
  font-weight: 500;
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}

.form__label {
  margin-bottom: 0.1em;
  cursor: pointer;
}

.form__input,
.form__textarea {
  background-color: var(--input-background-color);
  border-radius: 10px;
  padding: 1em;
  border: 1px solid var(--input-border-color);
  margin-bottom: 1.5em;
}

.form__title {
  font-weight: 600;
}

/* 2- SKILLS FORM */
.RemoveButton {
  margin-left: 0.6em;
}

/* 2- SKILLS FORM and 2- LANGUAGES-FORM */
.AddButton {
  right: 1em;
}

/*============================
SPECIFIC LAYOUT AND STYLES==
==============================*/
/* 1- BUILDER */
.Builder {
  width: 40%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  background-color: var(--builder-section-background-color);
}

/* 2- PERSONAL-INFO-FORM */
.personal-info-form__input--upload-image,
.personal-info-form__input--upload-image::-webkit-file-upload-button {
  cursor: pointer;
}

/* 2- SKILLS FORM */
.skills-form__flexbox {
  position: relative;
  display: flex;
  align-items: center;
}

.skills-form__input {
  flex: 1;
  margin: 0;
}

.skills-form__skill-card-section {
  display: flex;
  margin: 1.5em 0;
  gap: 1em;
  flex-wrap: wrap;
}

.skills-form__skill-card {
  background-color: var(--skills-form-skill-card-background-color);
  padding: 0.3em 2em 0.3em 1em;
  border-radius: 15px;
  color: var(--skills-form-skill-card-text-color);
  position: relative;
}

/* 2- EXPERIENCE-FORM */
.experience-form__flexbox {
  display: flex;
  flex-direction: column;
}

/* 2- EDUCATION-FORM */
.education-form__flexbox {
  display: flex;
  flex-direction: column;
}

/* 2- LANGUAGES-FORM */
.languages-form .SubmitButton {
  margin-top: 1.5em;
}

.languages-form__flexbox {
  position: relative;
  display: flex;
  align-items: center;
}

.languages-form__input {
  flex: 1;
  margin: 0;
}

.languages-form__language-card-section {
  display: flex;
}

/* 2- CV COLOR */
.cv-colors-form__input {
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid var(--input-border-color);
}
