/*============================
GENERAL LAYOUT AND STYLES==
==============================*/

/*============================
SPECIFIC LAYOUT AND STYLES=
==============================*/
/* 1- CARD */
.Card {
  background-color: var(--card-background-color);
  padding: 0.3em 1em;
  border-radius: 15px;
  color: var(--card-text-color);
}
