/*============================
GENERAL LAYOUT AND STYLES==
==============================*/

/*============================
SPECIFIC LAYOUT AND STYLES=
==============================*/
/* 1- LOADER */
.Loader {
  height: 1.5em;
  width: 1.5em;
  border: 3px solid black; /* Border color is the loading circle color */
  border-radius: 50%;
  border-top: 3px solid transparent; /* Make top transparent to create the loading effect */
  animation: rotate 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; /* 1s duration, linear timing, infinite iteration */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
