@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*============================
RESETS=====================
==============================*/
/* Ensure consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Enable smooth scrolling for same-page links, 
   effective only for users without preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem; /* Offset for fixed headers or navbars */
  }
}

/* Enhance text rendering and set a global line-height for improved readability */
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

/* Optimize line-height for headings to enhance title readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

/* Improve paragraph readability with controlled text wrapping and width */
p {
  text-wrap: pretty; /* Enhanced wrapping for paragraphs */
  max-width: 60ch; /* Max width based on character count for optimal reading */
}

/* Remove default list styling for cleaner, customizable lists */
ul,
ol {
  list-style: none;
}

/* Set default styles for media elements for better control and responsiveness */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Normalize typography styles in form elements for consistency */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Reset focus styles */
a,
button {
  outline: none;
  border: none;
  color: inherit;
}

/* Normalize link styles for a clean slate */
a {
  text-decoration: none;
}

/* Indicate interactive elements with pointer cursor  */
input[type="checkbox"],
input::-webkit-calendar-picker-indicator,
select,
button {
  cursor: pointer;
}

/*============================
GENERAL LAYOUT AND STYLES=====
==============================*/
:root {
  --submit-btn-background-color: rgb(116, 255, 255);

  /* CV COLORS */
  --cv-section-background-color: #eeeeee;
  --cv-background-color: #eeeeee;
  /* --cv-right-side-background-color: rgb(155, 255, 155);
  --cv-left-side-background-color: white; */

  /* BUILDER COLOR */
  --builder-section-background-color: white;

  /* INPUT COLORS */
  --input-background-color: #eeeeee;
  --input-active-background-color: rgb(155, 255, 155);
  --input-border-color: #bdbdbd;
}
